#formId{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2rem;
    width: 250px;
    gap:2rem;
}
.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    height: fit-content;
    border: 2px solid red;
    gap: 1rem;
    background-color: cadetblue;

}
/* #cardWrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
} */
.inputCardClass{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
text-align: center;
    border: 2px solid red;
    padding-top: 2rem;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid black;
}
.task-completes{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: green;
}
.task-not-completed{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}