#formId{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2rem;
    width: 250px;
    gap:2rem;
}
.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    height: fit-content;
    border: 2px solid red;
    gap: 1rem;
    background-color: cadetblue;

}